.app {
  background: #ffffff;
  padding: 30px;
  height: 100vh;
  position: absolute;
        top: 75%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.todo-list {
  background: #a52626;
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(23, 32, 163, 0.15);
  padding: 6px 15px;
  font-size: 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


